<template>
  <v-container class="mt-12">
    <header>I talk to the GRPC Server...
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
            <v-icon color="primary" class="ml-6" v-on="on">info</v-icon>
            </template>
            <span>I'll give you a hint... The word only has 5 letters.</span>
          </v-tooltip>
    </header>
        <v-row class="justify-center">
          <v-col cols="12" sm="6" md="3">
            <v-form
              ref="form"
              v-model="valid"
            >
              <v-text-field
                v-model="word"
                label="What's the magic word?"
                required
              />
            <v-btn
              color="primary"
              class="mr-4"
              @click="validate"
            >
              Continue, if you dare...
            </v-btn>
            </v-form>
          </v-col>

        </v-row>
    <v-row class="text-center mt-12">
      <v-col>
      <v-avatar>
        <img
          :src="img"
        >
      </v-avatar>
        <span class="ml-6 headline">{{ msgReturn }}</span>
      </v-col>
    </v-row>

  </v-container>
</template>
<style>
  header{
    font-size: 30px;
    text-align: center;
  }
</style>

<script lang="ts">
import Vue from 'vue';
import { grpc } from '@improbable-eng/grpc-web';
import { HelloRequest, HelloReply } from '@/hello/src/proto/hello_pb';
import { HelloService } from '@/hello/src/proto/hello_pb_service';

export default Vue.extend({
  name: 'GrpcClient',

  data: () => ({
    valid: true,
    word: '',
    // eslint-disable-next-line global-require
    img: require('../assets/wait.png'),
    msgReturn: '',
  }),
  methods: {
    validate(): any {
      //  GRPC CLIENT
      console.log(this.word);
      const req = new HelloRequest();
      req.setName(this.word);

      const repl = new HelloReply();

      grpc.invoke(HelloService.Hello, {
        request: req,
        host: 'http://127.0.0.1:9091/',
        onMessage: (message: HelloReply) => {
          console.log('Received Call', message.toObject());
          this.msgReturn = message.getMessage();
          if (message.getMessage() === 'ありがと - Thank you!') {
            // eslint-disable-next-line global-require
            this.img = require('../assets/yay.png');
          } else {
            // eslint-disable-next-line global-require
            this.img = require('../assets/wrong.png');
          }
        },
        onEnd: (code: grpc.Code, msg: string | undefined, trailers:grpc.Metadata) => {
          if (code === grpc.Code.OK) {
            console.log('Status: OK');
          } else {
            console.log('Status: NOT FOUND');
          }
        },
      });
    },
  },
});
</script>
