<template>
  <v-app>
    <v-content>
      <GrpcClient/>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import GrpcClient from './components/GrpcClient.vue';

export default Vue.extend({
  name: 'App',

  components: {
    GrpcClient,
  },

  data: () => ({
    //
  }),
});
</script>
